body{
    margin: 0;
}
.input-radius{
    /* margin: 0px; */
    border-radius: 1.5rem !important;
    background-color: #eff3f4 !important;
    max-width: 290px !important;
    height: 30px !important;

    margin-top: 3px !important;
}

.navbar{
    background-color:'white';
    margin: 0px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid;
    border-color: seashell;
}

.btm-search{
    border-radius: 1.5rem !important;
    /* position: absolute; */
    /* top: 13px;
    right: 15px; */
    /* right: 500px;  */
}

.identicon{
    /* // display: block;  */
    border: 0.5px solid;
    border-color: #d3d3d3;
    padding: 2px;
    /* margin: 0px 0px 0px -105px; */
    /* // left: 600px; */
    /* max-block-size: 100px; */
    height: 40px !important; 
    width: 40px !important;
    /* border-radius: 16px; */
    /* position: absolute; */
} 

.ETH{
    /* position: absolute; */
    bottom: -50px;
    padding: 500px; 
}
.btn-outline-success{
    /* color: whitesmoke !important; */
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border-color: palevioletred !important;
}
.btn-outline-success:hover{
    color: white !important;
    background-color: thistle !important;
   
}

.fake-input{
    position: relative;
}
.Metamask{
    position: relative;
    display: block;
    right: 50px;
}
.blox{
    /* position: absolute; */
    /* display: block; */
}
.blox2{
    /* position: relative; */
}
.CurrentETH{
    display: block;
    position: absolute;
    right: 200px;
    border: 1px solid;
    padding: 3px;
    border-radius: 10px;
}
.icon-input{
    position: absolute;
    top: 11px;
    left: 8px;
}

 /* ::-webkit-input-placeholder { 
    padding:30px;
  } */
/* :-ms-input-placeholder {
    padding:30px;
    
    } */
    
::placeholder {
    padding:0px;
      
    } 