/* body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
} */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fafafa;
}

.fake{
    width: 100%;
    margin: 250px 0 300px 0;
}
/* .identicon{
    // display: block; 
    border: solid;
    border-color: #d3d3d3;
    padding: 3px;
    left: 600px;
    height: 102px; 
    width: 102px;
    border-radius: 16px;
    position: absolute;
} */
.ETH{
    /* margin-left: 400px;     */
    padding-top: 30px;
    position: relative;
    /* position: absolute; */
}
